<!-- Navigation buttons at the bottom of the post. -->

<nav class="post-navigation d-flex justify-content-between" aria-label="Post Navigation">
  {% assign cat = page.categories[0] %}
  {% assign cat_list = site.categories[cat] %}
  {% for post in cat_list %}
    {% if post.url == page.url %}
      {% assign prevIndex = forloop.index0 | minus: 1 %}
      {% assign nextIndex = forloop.index0 | plus: 1 %}
      {% if forloop.first == false %}
        {% assign next_post = cat_list[prevIndex] %}
      {% endif %}
      {% if forloop.last == false %}
        {% assign prev_post = cat_list[nextIndex] %}
      {% endif %}
      {% break %}
    {% endif %}
  {% endfor %}
  {% if prev_post %}
    <span class="previous-post">Previous : <a href="{{ prev_post.url }}" class="pagination--pager">{{ site.data.ui-text[site.locale].pagination_previous}}{{ prev_post.title }}</a></span>
    {% else %}
    <span class="previous-post">Previous <a href="" class="pagination--pager disabled">{{ site.data.ui-text[site.locale].pagination_previous}}</a></span>
    {% endif %}
    
    {% if next_post %}
    <span class="next-post">Next : <a href="{{ next_post.url }}" class="pagination--pager">{{ site.data.ui-text[site.locale].pagination_next}}{{ next_post.title }}</a></span>
    {% else %}
    <span class="next-post">Next <a href="" class="pagination--pager disabled">{{ site.data.ui-text[site.locale].pagination_next}}</a></span>
    {% endif %}
</nav>
