<!-- Navigation buttons at the bottom of the post. -->

<nav class="post-navigation d-flex justify-content-between" aria-label="Post Navigation">
  {% assign current_category = page.categories | first %}
  
  {% assign previous_post = site.categories[current_category] | sort: 'date' | last %}
  {% assign next_post = site.categories[current_category] | sort: 'date' | first %}

  {% if previous_post %}
    <span class="previous-post">
      Previous: <a href="{{ previous_post.url }}">{{ previous_post.title }}</a>
    </span>
  {% endif %}
  
  {% if next_post %}
    <span class="next-post">
      Next: <a href="{{ next_post.url }}">{{ next_post.title }}</a>
    </span>
  {% endif %}
</nav>
